[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
matplotlib = "*"
geopandas = "*"
arcgis = "*"
tabula-py = "*"
camelot-py = {extras = ["cv"],version = "*"}
ghostscript = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
